* {
  font-family: Roboto;
  margin: 0px auto;
}

body {
  background-color: #4AB3F4;
}

.nav {
  top: 0;
  position: fixed;
  width: 100%;
  display: block;
  background-color: turquoise;
}

.title {
  font-family: 'Cuprum';
  display: inline-block;
  color: white;
  margin-bottom: 5px;
}

.logo {
  border-radius: 50%;
  border: 2px solid black;
  width: 20px;
  display: inline-block;
  margin-top: 5px;
}

.home-link {
  display: inline-block;
}

.home-link a {
  text-decoration: none;
}

.site-links {
  float: right;
  padding-top: 10px;
}

.site-links a {
  color: white;
  text-decoration: none;
  padding-right: 10px;
}

.main-section {
  padding-top: 30px;
}

a {
  max-width: inherit;
  color: white;
}
/* This inherits the width of its parent, which in this case is the div with
title=youtube-video-index#. Video width and height is already set in breedFrontEnd */

h1 {
  display: block;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 40px;
  color: white;
}

p {
  color: white;
  font-size: 12pt;
  text-align: center;
  padding-top: 10px;
}

.button {
  height: 40px;
  width: 125px;
  background-color: white;
  border-color: transparent;
  border-radius: 3px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  background-color: blue;
  border-color: blue;
  color: white;
}

.dog-image-div {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 10px
}

.dog-image {
  width: 200px;
  height: 200px;
  margin: 10px;
  border-color: white;
}

.dog-video-div {
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  padding-bottom: 10px;
}

iframe {
  border-color: transparent;
}

div[title^="youtube"] {
  max-width: 350px;
  display: inline-block;
  margin: 5px;
}

.page-bottom-button {
  margin-top: 15px;
  margin-bottom: 15px;
}