* {
  font-family: Roboto;
  margin: 0px auto;
}

body {
  background-color: #4AB3F4;
}

a {
  text-decoration: underline;
  color: white;
}

button {
  height: 40px;
  width: 125px;
  background-color: white;
  border-color: transparent;
  border-radius: 3px;
}

button:hover {
  background-color: blue;
  border-color: blue;
  color: white;
}

.favorite-breed {
  border: 2px solid black;
  width: 600px;
  height: 60px;
  margin: 10px auto 10px auto;
}

.remove-button {
  position: relative;
  left: 200px;
  display: inline-block;
}

.breed-link {
  display: inline-block;
  width: 250px;
}