* {
  font-family: Roboto;
  margin: 0px auto;
}

body {
  background-color: #4AB3F4;
}

.title-section {
  display: block;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
  color: white;
}

.title {
  font-size: 50px;
  font-family: 'Cuprum';
  display: inline-block;
}

.subtitle {
  font-size: 25px;
  font-family: 'Cuprum';
}

.dog-image {
  float: left;
  border-radius: 50%;
}

.logo {
  border-radius: 50%;
  border: 2px solid black;
  width: 40px;
  display: inline-block;
}

p {
  font-size: 20px;
}

.section {
  background-color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: left;
}

.section p {
  padding-left: 35px;
  padding-right: 35px;
}

.links {
  text-align: center;
  color: white;
}

.login-link, .signup-link {
  display: inline-block;
  margin: 5px;
}

a {
  color: white;
}

footer {
  text-align: center;
  color: white;
  background-color: rgb(75, 75, 250);
  width: 100%;
  margin-top: 120px;
  height: 40px;
}

footer p {
  font-size: 12pt;
  padding-top: 10px;
  padding-right: 5px;
}

footer p, footer a {
  display: inline-block;
}

footer a img {
  width: 20px;
  position: relative;
  top: 3px;
}

.demo-link {
  text-align: center;
  font-size: 14pt;
  padding-top: 10px;
}

/* So that the dog image is smaller on smaller screens*/
@media only screen and (max-width: 700px) {
  .dog-image {
    width: 50% !important;
  }
  .section {
    text-align: center !important;
  }
}