* {
  font-family: Roboto;
  margin: 0px auto;
}

body {
  background-color: #4AB3F4;
}

.nav {
  top: 0;
  position: fixed;
  width: 100%;
  display: block;
  background-color: turquoise;
}

.title {
  font-family: 'Cuprum';
  display: inline-block;
  color: white;
  margin-bottom: 5px;
}

.logo {
  border-radius: 50%;
  border: 2px solid black;
  width: 20px;
  display: inline-block;
  margin-top: 5px;
}

.home-link {
  display: inline-block;
  padding-left: 10px;
}

.home-link a {
  text-decoration: none;
}

.site-links {
  float: right;
  padding-top: 10px;
}

.site-links a {
  color: white;
  text-decoration: none;
  padding-right: 10px;
}

.main-section {
  padding-top: 30px;
}

a {
  text-decoration: underline;
  color: white;
}

.button {
  height: 40px;
  width: 125px;
  background-color: white;
  border-color: transparent;
  border-radius: 3px;
}

.button:hover {
  background-color: blue;
  border-color: blue;
  color: white;
}

h1 {
  display: block;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
  color: white;
}

.all-breeds-div {
  padding-top: 10px;
  padding-bottom: 10px;
}

.favorite-breed {
  border: 2px solid black;
  width: 80%;
  margin: 10px auto 10px auto;
  text-align: left;
  position: relative;
}

.breed-title {
  padding-left: 10px;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-size: 14pt;
}

.view-breedpage-button, .remove-button {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.search-button, .logout-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* So that the buttons move below the breed name on smaller screens*/
@media only screen and (max-width: 700px) {
  .breed-title {
    display: block !important;
    margin-bottom: 0;
  }
  .view-breedpage-button, .remove-button {
    float: none;
    margin-bottom: 20px;
  }
  .favorite-breed {
    text-align: center;
  }
}